body {
    background-color: rgb(148, 213, 235);
    color:white;
    font-family: Comic Sans MS;

}

.navbar-brand{
    font-family: Comic Sans MS;
    color:rgb(224, 178, 204);
}

ul {
    text-align: center;
    list-style-position: inside;
}